body{
    font-family:monospace;
    
}
@media(min-width: 768px){
    .search-input{
        width:80%;
    }
    
}
body::before{
    height:60px;
    content:" ";
    background:transparent;
}
.above {
    color:#efefef;
}

.above  ul  li a{
    color: #efefef;
    text-shadow:black;
}
.nav-item a{
    color:#efefef !important;
    float:left;
}
.nav-item a::hover{
    color: #efefef !important;
    background-color:rgba(0,0,0,0.8) !important;

}
.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(img/banner1.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    text-align: center;
    color: white;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler.custom-toggler{
      
    border-color:white;
    color:white;
  }
.login-btn {
    width: 100px;
    padding: 8px 0;
    outline: none imp !important;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    float: left;
    background:transparent;
  }
  .input-group {
    width: 90% !important;
    max-width: 500px;
    border-radius: 30px;
    background: white;
    margin: auto;
    padding: 2px;
  }
  .form-control {
    border: 0 !important;
    border-radius: 30px !important;
    box-shadow: none !important;
  }
  .input-group-text {
    width: 100px;
    height:100%;
    background-image: linear-gradient(#000f7e, #6f3d90);
    border: 0 !important;
    color: white !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
  }body{
    font-family:monospace;
    
}
@media(min-width: 768px){
    .search-input{
        width:80%;
    }
}
.above {
    color:white;
}

.above  ul  li a{
    color:white;
}
.nav-item a{
    color:white !important;
    float:left;
}
.nav-item a::hover{
    color: #efefef !important;
    background-color:rgba(0,0,0,0.8) !important;

}
.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(img/banner1.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    text-align: center;
    color: white;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler.custom-toggler{
      
    border-color:white;
    color:white;
  }
.login-btn {
    width: 100px;
    padding: 8px 0;
    outline: none imp !important;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    float: left;
    background:transparent;
  }
  .input-group {
    width: 90% !important;
    max-width: 500px;
    border-radius: 30px;
    background: white;
    margin: auto;
    padding: 2px;
  }
  .form-control {
    border: 0 !important;
    border-radius: 30px !important;
    box-shadow: none !important;
  }
  .input-group-text {
    width: 100px;
    height:100%;
    background-image: linear-gradient(#000f7e, #6f3d90);
    border: 0 !important;
    color: white !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
  }
  .second{
      height:100%;
      padding-top:60px;
      background:linear-gradient(#7e0030, #f70202);
  }
  .sometext{
      font-size:15px;
      max-width:400px;
  }
  .third{
    height:100%;
    padding-top:60px;
    background:linear-gradient(#7e0030, #f70202);
}
.main-img{
    height:50%;
    width:80%;
    text-align:center;
   
}
#remaining{
    display:none;
}
#read{
    color:white;
    background-color:black;
    cursor:pointer;
}

.characters{
    width:300px;
    height:200px;
    
}
@media(max-width: 768px){
    .main-img{
        width:50%;
        height:50%;
    }
    .sometext{
        font-size:12px;
    }
    
}
@media(max-width:360px){
    .characters{
        width:150px;
        height:100px;
    }
}

  .user-review {
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
  }
  .user-review p {
    padding: 50px 10px 10px 10px;
  }
  .users-feedback img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px ;
  }
  .user-review p::before {
    content: "\201d";
    display: block;
    max-height:120px;
    /* position: absolute; */
    font-size: 120px;
    color: #6495ed;
    font-family: sans-serif;
     position: relative;
    /* left: 50%; */
    /* top: -20px; */
  }
  .footer {
    padding: 100px 20px 15px;
    background-image: linear-gradient(#2d557d, #9610fb);
    color: white;
  }
  .footer hr {
    margin-top: 10px;
    background: #efefef;
  }
  .footer .copyright p {
    text-align: center;
  }
  .bi-arrow-up-circle{
      font-size:30px;
  }
  
.fourth{
    height:100vh;
    padding-top:60px;
    background:linear-gradient(#000f7e, #6f3d90);
}
